<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/admin-stock.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <title>Pedidos</title>
</head>

<body>
  <header>
    <img src="../assets/img/logo-pasteleria.svg" alt="Logo pastelería Arias" title="Haz de cada momento inolvidable">
    <nav>
      <ul>
        <li>
          <a href="./admin.html">Pedidos</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Adornos</h2>
    <div class="wrapper">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Adorno Nezuko</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Adorno Zenitsu</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Adorno Tanjiro</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Adorno Inosuke</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Adorno Coco</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Adorno Coco "Dante"</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
      <h2>Cantidad de sabores</h2>
      <table>
        <thead>
          <tr>
            <th>Sabor</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Fresa</td>
            <td>10</td>
          </tr>
          <tr>
            <td>Chocolate</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Café</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Guayaba</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Cajeta</td>
            <td>8</td>
          </tr>
          <tr>
            <td>Vainilla</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>

    </div>
  </main>
</body>

</html>