<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/admin.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <title>Pedidos</title>
</head>

<body>
  <header>
    <img src="../assets/img/logo-pasteleria.svg" alt="Logo pastelería Arias" title="Haz de cada momento inolvidable">
    <nav>
      <ul>
        <li>
          <a href="./admin-stock.html">Stock</a>
        </li>
      </ul>
    </nav>
  </header>
  <h2>Pedidos</h2>
  <main>
    <div class="wrapper">
      <table>
        <thead>
          <tr>
            <th>No. Pedido</th>
            <th>Cliente</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Domicilio</th>
            <th>Bizcocho</th>
            <th>Relleno</th>
            <th>Cubierta</th>
            <th>Adornos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Aaron</td>
            <td>5512345678</td>
            <td>algo@gmail.com</td>
            <td>Calle: palmas Delegación:Impulsora C.P: 01234</td>
            <td>Sabor fresa</td>
            <td>Mermelada</td>
            <td>Caramelo</td>
            <td>Velas luminosas, Figura Tanjiro</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Aaron</td>
            <td>5512345678</td>
            <td>algo@gmail.com</td>
            <td>Calle: palmas Delegación:Impulsora C.P: 01234</td>
            <td>Sabor fresa</td>
            <td>Mermelada</td>
            <td>Caramelo</td>
            <td>Velas luminosas, Figura Tanjiro</td>
          </tr>
        </tbody>
      </table>

    </div>
  </main>
</body>

</html>