<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/contacto.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <title>Creemos ese momento especial</title>
</head>
<body>
  <header>
    <img src="../assets/img/logo-pasteleria.svg" alt="Logo pastelería Arias" title="Haz de cada momento inolvidable">
    <nav>
      <ul>
        <li>
          <a href="#">Nosotros</a>
        </li>
        <li>
          <a href="./index.html">Pasteles</a>
        </li>
        <li>
          <a href="#">Crea tu pastel</a>
        </li>
        <li>
          <a href="#informacion">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>
  <h2>Creemos ese momento especial</h2>
  <main>
    <div class="wrapper">
      <h3>Datos de contacto</h3>
      <form class="login-contenedor" action="./crear-pastel.html">
        <input class="input" required type="text" name="nombre"placeholder="Nombre">
        <input class="input" required type="tel" name="Teléfono" placeholder="Teléfono">
        <input class="input" required type="email" name="Correo" placeholder="Correo electrónico">
        <button class="button" type="submit">Siguiente</button>
      </form>
    </div>
  </main>
  <footer id="informacion">
    <div class="pasteleria-contacto">
      <div class="direccion">
        <img src="../assets/img/ubicacion.png" alt="ícono de ubicacion">
        <div class="informacion">
          <h4>Dirección</h4>
          <p>Juan Aldama 73, Zona Centro, 31500
            Cd Cuauhtémoc, Chih.</p>
        </div>
      </div>
      <div class="telefono">
        <img src="../assets/img/telefono.png" alt="ícono de teléfono">
        <div class="informacion">
          <h4>Teléfono</h4>
          <p>55647898541</p>
        </div>
      </div>
      <div class="horario">
        <img src="../assets/img/horario-agenda.png" alt="ícono de agenda con reloj">
        <div class="informacion">
          <h4>Horario de atención</h4>
          <p>Lunes a domingo
            09:00 a.m. a 08:00 p.m.</p>
        </div>
      </div>
    </div>

  </footer>
</body>
</html>