<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/crear-pastel.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <title>Creemos ese momento especial</title>
</head>

<body>
  <header>
    <img src="../assets/img/logo-pasteleria.svg" alt="Logo pastelería Arias" title="Haz de cada momento inolvidable">
    <nav>
      <ul>
        <li>
          <a href="#">Nosotros</a>
        </li>
        <li>
          <a href="./index.html">Pasteles</a>
        </li>
        <li>
          <a href="./contacto.html">Crea tu pastel</a>
        </li>
        <li>
          <a href="#informacion">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>
  <h2>Creemos ese momento especial</h2>
  <main>
    <div class="wrapper">

      <form class="form" action="#">
        <h3>Base del bizcocho</h3>
        <div class="contenedor-inputs">
          <div>
            <div class="input-container">
              <input class="input" id="fresa" type="radio" name="bizcocho">
              <label for="fresa">Sabor fresa</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="chocolate" type="radio" name="bizcocho">
              <label for="chocolate">Sabor chocolate</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="cafe" type="radio" name="bizcocho">
              <label for="cafe">Sabor café</label><br>
            </div>
          </div>
          <div>
            <div class="input-container">
              <input class="input" id="guayaba" type="radio" name="bizcocho">
              <label for="guayaba">Sabor guayaba</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="cajeta" type="radio" name="bizcocho">
              <label for="cajeta">Sabor cajeta</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="vainilla" type="radio" name="bizcocho">
              <label for="vainilla">Sabor vainilla</label><br>
            </div>
          </div>
        </div>

        <h3>Relleno de pastel</h3>

        <div class="contenedor-inputs">
          <div>
            <div class="input-container">
              <input class="input" id="mermelada" type="radio" name="relleno">
              <label for="mermelada">Mermelada</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="crema" type="radio" name="relleno">
              <label for="crema">Crema</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="ganache" type="radio" name="relleno">
              <label for="ganache">Ganache</label><br>
            </div>
          </div>
          <div>
            <div class="input-container">
              <input class="input" id="chantilly" type="radio" name="relleno">
              <label for="chantilly">Chantilly</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="dulce-de-leche" type="radio" name="relleno">
              <label for="dulce-de-leche">Dulce de leche</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="crema-de-frutas" type="radio" name="relleno">
              <label for="crema-de-frutas">Crema de frutas</label><br>
            </div>
          </div>
        </div>

        <h3>Cubierta del pastel</h3>

        <div class="contenedor-inputs">
          <div>
            <div class="input-container">
              <input class="input" id="cubierta-chantilly" type="radio" name="cubierta">
              <label for="cubierta-chantilly">Chantilly</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="caramelo" type="radio" name="cubierta">
              <label for="crema">Caramelo</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="merengue" type="radio" name="cubierta">
              <label for="merengue">Merengue</label><br>
            </div>
          </div>
          <div>
            <div class="input-container">
              <input class="input" id="fondant" type="radio" name="cubierta">
              <label for="fondant">Fondant</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="frutas" type="radio" name="cubierta">
              <label for="frutas">Frutas</label><br>
            </div>
            <div class="input-container">
              <input class="input" id="crema-de-leche" type="radio" name="cubierta">
              <label for="crema-de-leche">Crema de leche</label><br>
            </div>
          </div>
        </div>

        <h3>Adornos</h3>
          <div class="contenedor-inputs">
            <div>
              <div class="input-container">
                <input class="input" id="velas-de-colores" type="radio" >
                <label for="velas-de-colores">Velas de colores</label><br>
              </div>
              <div class="input-container">
                <input class="input" id="vela-luminosa" type="radio" >
                <label for="vela-luminosa">Vela luminosa</label><br>
              </div>
              <div class="input-container">
                <input class="input" id="vela-de-numero-1" type="radio" >
                <label for="vela-de-numero-1">Vela de número 1</label><br>
              </div>
              <div class="input-container">
                <input class="input" id="figura-inosuke" type="radio">
                <label for="figura-inosuke">Figura Inosuke</label><br>
              </div>
              <div class="input-container">
                <input class="input" id="figura-coco-dante" type="radio">
                <label class="label-coco" for="figura-coco-dante">Figura de Coco "Dante"</label><br>
              </div>

            </div>
            <div>
              <div class="input-container">
                <input class="input" id="figura-nezuko" type="radio" name="adornos">
                <label for="figura-Nezuko">Figura Nezuko</label><br>
              </div>
              <div class="input-container">
                <input class="input" id="figura-zenitsu" type="radio" name="adornos">
                <label for="figura-zenitsu">Figura Zenitsu</label><br>
              </div>
              <div class="input-container">
                <input class="input" id="figura-tanjiro" type="radio" name="adornos">
                <label for="figura-tanjiro">Figura Tanjiro</label><br>
              </div>
              <div class="input-container">
                <input class="input" id="figura-de-coco" type="radio" name="adornos">
                <label for="figura-de-coco">Figura de Coco</label><br>
              </div>
            </div>
          </div>
          <button class="button" type="submit">Siguiente</button>
        </div>
      </form>
    </div>
  </main>
  <footer id="informacion">
    <div class="pasteleria-contacto">
      <div class="direccion">
        <img src="../assets/img/ubicacion.png" alt="ícono de ubicacion">
        <div class="informacion">
          <h4>Dirección</h4>
          <p>Juan Aldama 73, Zona Centro, 31500
            Cd Cuauhtémoc, Chih.</p>
        </div>
      </div>
      <div class="telefono">
        <img src="../assets/img/telefono.png" alt="ícono de teléfono">
        <div class="informacion">
          <h4>Teléfono</h4>
          <p>55647898541</p>
        </div>
      </div>
      <div class="horario">
        <img src="../assets/img/horario-agenda.png" alt="ícono de agenda con reloj">
        <div class="informacion">
          <h4>Horario de atención</h4>
          <p>Lunes a domingo
            09:00 a.m. a 08:00 p.m.</p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>