@font-face {
  font-family: Brittany;
  src: url("../fonts/BrittanySignature.ttf");
}
* {
  margin: 0;
}

body{
  background: linear-gradient(to bottom,#AEBFEB, #FEC4C8);
  background-repeat: repeat-x;
  font-family: 'Work Sans', sans-serif;

}
header {
  height: 100px;
  /* background: #AEBFEB; */
  display: flex;
  justify-content: space-between;
}
header img {
  width: 110px;
  height: 80px;
  margin: 10px 40px;
}
header nav {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
header ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;

}
header li {
  font-weight: bold;
  font-size: 24px;
}


header a{
  color: #FFFFFF;
  text-decoration: none;
}

h2 {
  font-family: Brittany;
  font-size: 55px;
  text-align: center;
  margin: 50px 0px;
  color: #E21212;
}

.wrapper{
  max-width: 30%;
  min-height: 450px;
  padding: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,0.15);
  border: 2px solid white;
  border-radius: 40px;

}

.wrapper h3{
  margin: 20px 0px;
  font-size: 20px;

}
.login-contenedor {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.login-contenedor input {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.login-contenedor input::placeholder {
  color: #000000;
}
.input {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: rgb(14, 12, 12);
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}
button {
  border: none;
  height: 50px;
  border-radius: 5px ;
  margin-top: 35px;
  background: #FF5589;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
}

footer {
  height: 120px;
}
.pasteleria-contacto {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;

}
.direccion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.direccion p{
  text-align: left;
}
.direccion img {
  padding-right: 10px;
}
.direccion p {
  white-space: pre-line;
}
.telefono {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.telefono img {
  padding-right: 10px;
}
.telefono p {
  white-space: pre-line;
  padding-bottom: 15px;
}
.horario {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.horario img {
  padding-right: 10px;
}
.horario p {
  white-space: pre-line;
}

